usr/
opt/lmod/*.tar.bz2
opt/lmod/**/*.so
opt/lmod/**/*.so.*
opt/lmod/**/*.o
opt/lmod/**/*.a
opt/lmod/**/lua/src/lua
opt/lmod/**/lua/src/luac
opt/bin/lua
opt/bin/lua-static
opt/bin/luac
opt/bin/summary.lua
opt/include
opt/lib/
opt/man
opt/share/**
opt/lmod/9.2
opt/lmod/lmod
templates/rendered
