#!/bin/rc
########################################################################
#  This is the system wide source file for setting up modules
########################################################################

if(! ~ yes yes)
g  { ! test -z $"USER_IS_ROOT || ~ `{id -u} 0 } && exit 0


if(~ $#MODULEPATH_ROOT 0) {
  if(~ $#USER 0) USER=$LOGNAME # make sure $USER is set
  LMOD_sys=`{uname}

  MODULEPATH_ROOT=/Users/johannes.blaschke/Developer/cli-util-mods/opt/modulefiles
  if(test -z $LMOD_MODULEPATH_INIT) {
     if(test -f /etc/lmod/.modulespath) {
        LMOD_MODULEPATH_INIT=/etc/lmod/.modulespath
     } else {
        LMOD_MODULEPATH_INIT=/Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/init/.modulespath
     }
  }
  if(test -f $LMOD_MODULEPATH_INIT) {
     for(dir in `{cat $LMOD_MODULEPATH_INIT | sed 's/#.*$//'}) { # Allow end-of-line comments.
        if(test -d $dir)
           MODULEPATH=`{/Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/libexec/addto --append MODULEPATH $dir}
     }
  }
  if not {
     MODULEPATH=`{/Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/libexec/addto --append MODULEPATH $MODULEPATH_ROOT/$LMOD_sys $MODULEPATH_ROOT/Core}
     MODULEPATH=`{/Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/libexec/addto --append MODULEPATH /Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/modulefiles/Core}
  }

  #################################################################
  # Prepend any directories in LMOD_SITE_MODULEPATH to $MODULEPATH
  #################################################################
  if(! ~ $#LMOD_SITE_MODULEPATH 0) {
    MODULEPATH=`{/Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/libexec/addto MODULEPATH $LMOD_SITE_MODULEPATH}
  }


  if( test -z $BASH_ENV) {
     BASH_ENV=/Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/init/bash
  }

  #
  # If MANPATH is empty, Lmod is adding a trailing ":" so that
  # the system MANPATH will be found
  if(~ $#MANPATH 0)
    MANPATH=:
  MANPATH=`{/Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/libexec/addto MANPATH /Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/share/man}
}

fn findExec {
  Nm=$1
  confPath=$2
  execNm=$3
  $Nm=$confPath
  if( ! test -x $confPath) {
    if(test -x /bin/$execNm)
       $Nm=/bin/$execNm
    if not {
      if(test -x /usr/bin/$execNm)
       $Nm=/usr/bin/$execNm
    }
  }
  Nm=(); confPath=(); execNm=()
}

findExec PS_CMD       /bin/ps        ps
findExec EXPR_CMD     /bin/expr      expr
findExec BASENAME_CMD /usr/bin/basename  basename

fn findExec

if(test -f /Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/init/rc)
   . /Users/johannes.blaschke/Developer/cli-util-mods/opt/lmod/lmod/init/rc >/dev/null # Module Support
my_shell=()
MODULEPATH_INIT=()

# Local Variables:
# mode: shell-script
# indent-tabs-mode: nil
# End:
